
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

#body{
    
    background-color: rgb(186, 163, 195);
}

.myLtag{

    text-align: center;
    text-decoration: underline;
    font-weight:500;
    margin: 10px;
    color:  rgb(69, 41, 73);
}

.myPtag{

    text-align: center;
    color:  rgb(69, 41, 73);
    margin: 10 px;
}


#mybutton{
    display: block;
    background-color: rgb(160, 101, 167);
    padding: 5px 10px 5px 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    border-radius: 5px;
}



#image{
    display: inline;
    float: left;
    border: 10px solid rgb(69, 41, 73);
    border-radius: 50%;
    margin: left;
    margin-left: 30px;
    margin-top: 20px;
    width: 25%;
}

#myfooter{
    height: 160px;
    background-color: rgb(152, 134, 159);
    display: block;
}

#myheader{
    display: block;
    height: 160px;
    background-color: rgb(152, 134, 159);
}

h1{
    margin-bottom: 10px;
    padding-top: 40px;
    font-weight:normal;
    text-align: center;
    text-decoration: underline;
    color:  rgb(69, 41, 73);
}

h2{
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight:normal;
    text-align: center;
    text-decoration: underline;
    color:  rgb(69, 41, 73);
}

.label{
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
    
}

#mydiv{

    padding: 20px 0px 20px 20px;
    margin-top: 100px;
    margin-left: 50px;
    display: inline;
    float: left;
    border:   2px solid rgb(69, 41, 73);
    border-radius: 5px;
    width: 40%;
}

main{
    height: 500px;
}











